a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

table {
  border-collapse: collapse; /* Ensures borders do not have gaps */
  width: 100%; /* Makes the table width 100% of its container */
}

table,
th,
td {
  border: 1px solid black; /* Adds a solid black border to the table, table headers, and table cells */
}

/* Table header style */
th {
  background-color: #f2f2f2; /* Sets the background color of table headers */
  color: black; /* Sets the text color of table headers */
  padding: 10px; /* Adds padding inside table headers */
  text-align: left; /* Aligns text to the left inside table headers */
}

/* Table cell style */
td {
  padding: 10px; /* Adds padding inside table cells */
  text-align: left; /* Aligns text to the left inside table cells */
}

.link {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.add-link {
  background-color: rgb(73, 215, 73);
}

.edit-link {
  background-color: rgb(250, 87, 87);
}

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button {
  background-color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
